/* Write your CSS code here */
.login-head {
  font-family: roboto;
  font-weight: bold;
  color: #000000;
  font-size: 40px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  height: 30px;
  width: 200px;
  color: #000000;
}
